
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 2rem;
  @-moz-viewport { width: device-width; scale: 1; }
  @-ms-viewport { width: device-width; scale: 1; }
  @-o-viewport { width: device-width; scale: 1; }
  @-webkit-viewport { width: device-width; scale: 1; }
  @viewport { width: device-width; scale: 1; }
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Fascinate', cursive;
  font-size: 2rem;
  color: pink;
  background-color: purple;
  padding: 2rem;
}

header {
  position: relative;
}

.hex {
  position: absolute;
  left: 22%;
  top: 10%;
  width: 5%;
}

h2 {
  font-size: 1.5rem;
  color: pink;
}

nav {
  color: pink;
}

a {
  text-decoration: none;
  background-color: pink;
  display: inline-block;
  border-radius: .4em;
  margin: .5em;
  padding: .5em;
  color: black;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  background-color: purple;
  color: pink;
}

body {
  margin: 0;
  text-align: center;
  background-color: lavender;
}

img {
  width: 100%;
  display: inline-block;
}

footer {
  color: pink;
  border-color: purple;
  border-style: dotted;
  width: 100%;
  text-align: center;
  margin-top: 13em;
  display: block;
}

p {
  float: right;
  color: pink;
}

.header {
  position: relative;
}

.p {
  width: 50%;
  position: absolute;
  right: 10px;
  top: 5%;
}

.h1 {
  width: 100%;
}

.owner img {
  width: 50%;
}

@media only screen and (min-width: 25em) {

  img {
    width: 70%;
    display: inline-block;
  }

  nav li {
    display: inline-block;
    text-align: center;
  }

  .p {
    position: absolute;
    bottom: 10%;
  }

}

@media only screen and (min-width: 38em) {

  img {
    width: 50%;
  }

  nav li {
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  figure {
    width: 100%;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
  }

  .cupcakes {
    display: inline-block;
    width: 30%;
  }

  .fudge {
    display: inline-block;
    width: 30%;
  }

  .bonbons {
    display: inline-block;
    width: 30%;
  }

}

@media only screen and (min-width: 90em) {

  .cupcakes {
    width: 35%;
    display: inline-block;
  }

  .fudge {
    width: 35%;
    display: inline-block;
  }

  .bonbons {
    width: 35%;
    display: inline-block;
  }

}
