@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1;

}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Fascinate", cursive;
  font-size: 2rem;
  color: pink;
}

h2 {
  font-size: 1rem;
  color: pink;
}

nav {
  color: pink;

}

a {
  text-decoration: none;
  background-color: pink;
  display: inline-block;
  border-radius: .4em;
  margin: .5em;
  padding: .5em;
  color: black;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  background-color: purple;
}
